name: Build C Win32 Project

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    # 升级 checkout 到 v4
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config Release

    - name: Upload Artifact
      # 修复点：升级 upload-artifact 到 v4
      uses: actions/upload-artifact@v4
      with:
        name: NetToolPro-Win32
        path: ${{github.workspace}}/build/Release/NetToolPro.exe
